@import '../tachyons/scss/variables';

.sidebar {
  background: $near-white;
  color: $dark-gray;
  font-family: $sans-serif;
  line-height: $line-height-copy;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// Nav list

.navList {
  list-style: none;
  margin: 0;
  padding: $spacing-small;
}
.navListLink {
  color: $dark-gray;
  display: block;
  border-radius: $border-radius-1;
  text-decoration: none;
  padding: $spacing-small;

  &.navListActive {
    background: $light-gray;
    color: $dark-blue;
  }

  &:focus,
  &:hover {
    color: $blue;
  }
}
.navListIcon {
  margin-right: $spacing-small;
}

// Projects

.projects {
  border-top: 1px solid $moon-gray;
  padding-bottom: $spacing-medium;
  padding-top: $spacing-medium;
}

.projectsHeading {
  font-size: $font-size-7;
  font-weight: 500;
  margin: 0 $spacing-medium $spacing-extra-small;
  text-transform: uppercase;
}

.projectsGroup {
  padding: 0 $spacing-small;
}

.projectsGroupTriggerButton {
  background: transparent;
  border: 0;
  color: $dark-gray;
  cursor: pointer;
  display: flex;
  font-family: $sans-serif;
  font-size: $font-size-5;
  justify-content: space-between;
  line-height: $line-height-copy;
  margin: 0;
  padding: $spacing-small;
  width: 100%;

  &:focus,
  &:hover {
    color: $blue;
  }
}

.projectGroupHidden {
  display: none;
}

.projectsGroupList {
  list-style: none;
  margin: 0;
  padding: 0;
}
.projectsGroupLink {
  border-radius: $border-radius-1;
  display: block;
  color: $dark-gray;
  text-decoration: none;
  padding: $spacing-extra-small $spacing-small $spacing-extra-small $spacing-medium;

  &:focus,
  &:hover {
    color: $blue;
  }
}

// Account

.account {
  align-items: center;
  border-top: 1px solid $moon-gray;
  display: flex;
  justify-content: space-between;
  padding: $spacing-medium;
}

.accountAvatar {
  background: $dark-green;
  border-radius: 100%;
  color: $white;
  flex: none;
  font-size: $font-size-6;
  font-weight: 600;
  height: $height-2;
  line-height: $height-2;
  margin-left: -1 * $spacing-extra-small;
  margin-right: $spacing-small;
  text-align: center;
  width: $height-2;
}

.accountGroup {
  flex: 1 1 auto;
}

.accountName {
  color: $dark-gray;
  font-size: $font-size-5;
  font-weight: 500;
  line-height: 1;
  margin: 0;
}

.accountProfileLink {
  color: $mid-gray;
  font-size: $font-size-6;
  line-height: 1;
  text-decoration: underline;

  &:focus,
  &:hover {
    color: $blue;
  }
}

.accountSettingsButton {
  background: transparent;
  border: 0;
  color: $dark-gray;
  cursor: pointer;
  flex: none;
  font-family: $sans-serif;
  margin: 0 (-1 * $spacing-small) 0 0;
  padding: $spacing-small $spacing-medium;

  &:focus,
  &:hover {
    color: $blue;
  }
}