@import "../../tachyons/scss/variables";

.page {
  display: flex;
  flex-wrap: wrap;

  @media #{$breakpoint-large} {
    height: 100vh;
    overflow-y: hidden;
  }
}

.skipLink {
  clip: rect(1px, 1px, 1px, 1px);
  position: fixed;
}

.pageRow {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1 * $spacing-small;
  margin-right: -1 * $spacing-small;
}

.pageRowItem {
  padding-left: $spacing-small;
  padding-right: $spacing-small;
}

.pageSection {
  margin-bottom: $spacing-large;
}

/* Header */

.header {
  width: 100%;

  @media #{$breakpoint-large} {
    width: 25%;
  }
}

.headerSidebar {
  @media #{$breakpoint-large} {
    height: 100vh;
    overflow-y: scroll;
  }
}

/* Main */

.main {
  font-family: $sans-serif;
  padding: $spacing-large;
  width: 100%;

  @media #{$breakpoint-large} {
    height: 100vh;
    overflow-y: scroll;
    width: 75%;
  }
}

/* Content header */

.contentHeaderStats {
  margin-bottom: $spacing-medium;
  width: 100%;

  @media #{$breakpoint-medium} {
    margin-bottom: 0;
    width: 66.66%;
  }
  @media #{$breakpoint-large} {
    margin-bottom: 0;
    width: 66.66%;
  }
}

.contentHeaderStatsWrapper {
  border-bottom: 1px solid $silver;
  display: flex;
  padding-bottom: $spacing-extra-small;
}

.contentHeaderStatsItem {
  padding-right: $spacing-large;

  &:last-child {
    padding-right: 0;
  }
}

.contentHeaderStatsValueWrapper {
  display: inline-block;
  position: relative;
}

.contentHeaderStatsValue {
  font-size: $font-size-5;
  font-weight: 700;
  line-height: $line-height-title;
}
.contentHeaderStatsValueInfo {
  color: $blue;
}
.contentHeaderStatsValueSuccess {
  color: $green;
}

.contentHeaderStatsBadge {
  background: $yellow;
  border-radius: 100%;
  font-size: $font-size-7;
  line-height: $line-height-solid;
  padding: $spacing-extra-small;
  position: absolute;
  right: -1rem;
  top: -1rem;
}

.contentHeaderStatsLabel {
  color: $gray;
  display: block;
  font-size: $font-size-7;
  line-height: $line-height-solid;
}

.contentHeaderSearchForm {
  display: flex;
  width: 100%;

  @media #{$breakpoint-medium} {
    width: 33.33%;
  }
  @media #{$breakpoint-large} {
    width: 33.33%;
  }
}

.contentHeaderSearchFormInput,
.contentHeaderSearchFormButton {
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;;
  font-family: $sans-serif;
  font-size: $font-size-5;
  line-height: $line-height-solid;
  padding: $spacing-small;
}

.contentHeaderSearchFormInput {
  background: $near-white;
  border-color: $silver;
  border-radius: $border-radius-2 0 0 $border-radius-2;
  color: $black;
  flex: 1 1 auto;
}

.contentHeaderSearchFormButton {
  background: $gray;
  border-color: transparent;
  border-radius: 0 $border-radius-2 $border-radius-2 0;
  color: $white;
  cursor: pointer;
  flex: none;
}

/* Lead */

.lead {
  background: $lightest-blue;
  border-radius: $border-radius-2;
  color: $dark-gray;
  padding: $spacing-large;
}

.leadTitle {
  font-size: $font-size-1;
  font-weight: 800;
  line-height: $line-height-title;
  margin-bottom: $spacing-small;
  margin-top: 0;
}

.leadDescription {
  font-size: $font-size-3;
  line-height: $line-height-copy;
  margin-bottom: $spacing-medium;
  margin-top: 0;
}

/* Product list */

.productListItem {
  margin-bottom: $spacing-medium;
  width: 100%;

  @media #{$breakpoint-medium} {
    margin-bottom: $spacing-large;
    width: 33.33%;
  }
  @media #{$breakpoint-large} {
    margin-bottom: $spacing-large;
    width: 25%;
  }
}

/* Advertisement */

.advertisement {
  background: $near-white;
  border-radius: $border-radius-2;
  padding: $spacing-medium;
}

.advertisementImageWrapper {
  width: 100%;

  @media #{$breakpoint-medium} {
    width: 66.66%;
  }
  @media #{$breakpoint-large} {
    width: 66.66%;
  }
}

.advertisementImage {
  display: block;
  width: 100%;
}

.advertisementTextWrapper {
  width: 100%;

  @media #{$breakpoint-medium} {
    width: 33.33%;
  }
  @media #{$breakpoint-large} {
    width: 33.33%;
  }
}

.advertisementTitle {
  font-size: $font-size-4;
  line-height: $line-height-title;
  margin-bottom: $spacing-small;
  margin-top: 0;
}

.advertisementDescription {
  margin-bottom: $spacing-medium;
  margin-top: $spacing-small;
}

/* Footer */

.footer {
  border-top: 1px solid $silver;
  color: $mid-gray;
  margin-top: $spacing-large;
  padding-bottom: $spacing-large;
  padding-top: $spacing-medium;
}

.footerMenus {
  margin-bottom: $spacing-large;
}

.footerMenuItem {
  width: 100%;

  @media #{$breakpoint-medium} {
    width: 33.33%;
  }
  @media #{$breakpoint-large} {
    width: 33.33%;
  }
}

.footerMenuTitle {
  font-size: $font-size-5;
  font-weight: bold;
  line-height: $line-height-copy;
  margin-bottom: $spacing-extra-small;
  margin-top: 0;
}

.footerMenuLinks {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footerMenuLink {
  color: inherit;
  text-decoration: underline;

  &:focus,
  &:hover {
    color: $blue;
  }
}

.footerFinePrint1 {
  font-size: $font-size-6;
  line-height: $line-height-copy;
  margin-bottom: $spacing-small;
  margin-top: 0;
}

.footerFinePrint2 {
  border-top: 1px solid $moon-gray;
  color: $gray;
  display: block;
  font-size: $font-size-7;
  line-height: $line-height-copy;
  margin-top: $spacing-medium;
  padding-top: $spacing-small;
}

/* Page item */

.pageItemLink {
  display: block;
  margin-bottom: $spacing-small;
  transition: opacity 0.15s ease-in;

  &:focus,
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
    transition-timing-function: ease-out;
  }
}

.pageItemImage {
  display: block;
  width: 100%;
}

.pageItemText {
  margin-bottom: $spacing-extra-small;
}

.pageItemTextTitle {
  display: inline;
  font-size: $font-size-5;
  line-height: $line-height-copy;
  margin: 0;
  padding-right: $spacing-extra-small;
}

.pageItemTextDescription {
  color: $mid-gray;
  display: inline;
  font-size: $font-size-6;
  margin: 0;
}

.pageItemPrice {
  color: $orange;
  display: block;
  font-size: $font-size-4;
  margin-bottom: $spacing-small;
}

.pageItemButtonWrapper {
  margin-bottom: $spacing-small;
}

.pageItemFulfillment {
  color: $mid-gray;
  font-size: $font-size-6;
}

.pageItemFulfillmentDate {
  color: $green;
}
